<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Site</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/toastr/toastr.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container" ng-app="app">
	<%- body %>
</body>
</html>
